modules = ["go", "go-1.21"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "F5 Chat Interface"

[[workflows.workflow]]
name = "F5 Chat Interface"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "go run main.go"]
